body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden; /* Oculta as barras de rolagem */
}

.Titulo {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: left;
    padding: 30px;
    display: flex;
}

.container {
    text-align: center;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imagem {
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaço entre a imagem e o título */
    max-width: 100%; /* A imagem não excederá a largura do contêiner */
}

h1 {
    margin: 0;
}
.overlay {
    position: absolute; /* Faz com que a div overlay seja posicionada em relação ao contêiner pai */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro */
    z-index: 1; /* Coloca a overlay na frente da imagem */
}

.botao-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Espaçamento acima dos botões */
}

.botao {
    background-color: #00c943;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    flex: 1; /* Faz com que os botões ocupem o mesmo espaço */
    margin: 0 5px; /* Espaçamento lateral entre os botões */
}

.botao:hover {
    background-color: #00b31e;
    transform: scale(1.05);
}

.botao:active {
    transform: scale(0.95);
}
