<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='/pessoa/style.css') }}">
    <script src="{{ url_for('static', filename='pessoa/script.js') }}" defer></script>
    <title>Calculadora Pessoa</title>
</head>
<body>
    <h1>Calculadora de Crédito de Carbono</h1>
        <form action="/calculo" method="post">
        <div class="formulario">
            <h2>Dados da Pessoa</h2>
            <input type="hidden" id="tipo" name="tipo" value="1">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome"
                   placeholder="Digite o seu nome" required>

            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco"
                   placeholder="Digite o seu endereço" required>

            <label for="telefone">Telefone Responsável:</label>
            <input type="tel" id="telefone" name="telefone"
                placeholder="Infome o seu telefone: (11) 11111-1111" >

            <label for="ano_inventariado">Ano Inventariado: </label>
            <select name="ano_inventariado" id="ano_inventariado">
                <option value="0">selecione o ano inventariado</option>
                <option value="2023">1 - 2023</option>
                <option value="2022">2 - 2022</option>
                <option value="2021">3 - 2021</option>
                <option value="2020">4 - 2020</option>
            </select>
            <div id="formComb">
                <h2>Entrada de dados</h2>
            <div>
                <h3>Energia (KW/h)</h3>
                <label>Selecione o tipo de fornecimento</label>
                <select name="tpFornecimento" id="tpFornecimento" onchange="OcultaEnergia()">
                    <option value="0">Selecione um tipo de fornecimento</option>
                    <option value="1">1 - Carvão</option>
                    <option value="2">2 - Gás Natural</option>
                    <option value="3">3 - Petróleo</option>
                    <option value="4">4 - Nuclear</option>
                    <option value="5">5 - Renovável</option>
                </select>

                <label id="txEnCarvao" class="hidden">Carvão:</label>
                <input type="number" id="enCarvao" name="enCarvao" class="hidden"
                       placeholder="Informe a quantidade de energia gasta por mês (kw/h)">

                <label id="txEnGasnatural" class="hidden">Gás Natural:</label>
                <input type="number" id="enGasnatural" name="enGasnatural" class="hidden"
                    placeholder="Informe a quantidade de energia gasta por mês (kw/h)">

                <label id="txEnPetroleo" class="hidden">Petróleo:</label>
                <input type="number" id="enPetroleo" name="enPetroleo" class="hidden"
                       placeholder="Informe a quantidade de energia gasta por mês (kw/h)">

                <label id="txEnNuclear" class="hidden">Nuclear:</label>
                <input type="number" id="enNuclear" name="enNuclear" class="hidden"
                       placeholder="Informe a quantidade de energia gasta por mês (kw/h)">

                <label id="txEnRenovavel" class="hidden">Renovável:</label>
                <input type="number" id="enRenovavel" name="enRenovavel" class="hidden"
                       placeholder="Informe a quantidade de energia gasta por mês (kw/h)">
            </div>
                <h3>Veículos Automotores </h3>
                    <label type="text" id="ckeckComb" class="comb">Selecione o tipos de combustível</label>
                    <input type="checkbox" id="checkGasolina" onclick="toggleGasolina()">Gasolina
                    <label for="gasolina" id="txGasolina" class="comb">Consumo de Gasolina (L)</label>
                    <input type="number" id="gasolina" name="gasolina"
                        placeholder="Informe a média mensal usada por veiculo (L)">
                    <label for="tx_qtGasolina" id="tx_qtGasolina" class="comb">Quantidade de veículos (Gasolina)</label>
                    <input type="number" id="qtGasolina" name="qtGasolina"
                        placeholder="Informe a quantidade de veículos" >

                    <input type="checkbox" id="checkEtanol" onclick="toggleEtanol()">Etanol
                    <label for="etanol" id="txEtanol" class="comb">Consumo de Etanol (L):</label>
                    <input type="number" id="etanol" name="etanol"
                        placeholder="Informe a média mensal usada por veiculo (L)">
                    <label for="tx_qtEtanol" id="tx_qtEtanol" class="comb">Quantidade de veículos (Etanol)</label>
                    <input type="number" id="qtEtanol" name="qtEtanol"
                        placeholder="Informe a quantidade de veículos">

                    <input type="checkbox" id="checkDiesel" onclick="toggleDiesel()">Diesel
                    <label for="diesel" id="txDiesel" class="comb">consumo de Diesel (L):</label>
                    <input type="number" id="diesel" name="diesel"
                        placeholder="Informe a média mensal usada por veiculo (L)">
                    <label for="tx_qtDiesel" id="tx_qtDiesel" class="comb">Quantidade de veículos (Diesel)</label>
                    <input type="number" id="qtDiesel" name="qtDiesel"
                        placeholder="Informe a quantidade de veículos">

                    <input type="checkbox" id="checkBiodiesel" onclick="toggleBiodiesel()">BioDiesel
                    <label for="biodiesel" id="txBiodiesel" class="comb">Consumo de BioDiesel (L)</label>
                    <input type="number" id="biodiesel" name="biodiesel"
                        placeholder="Informe a média mensal usada por veiculo (L)">
                    <label for="tx_qtBioiesel" id="tx_qtBiodiesel" class="comb">Quantidade de veículos (Biodiesel)</label>
                    <input type="number" id="qtBiodiesel" name="qtBiodiesel"
                        placeholder="Informe a quantidade de veículos">
            </div>
            <div id="ar" class='arCondicionado'>
                <h3>Uso de Ar Condicionado</h3>
                <label>
                    <label type="text" id="ckeckComb" class="comb">Seleciona os tipos de Ar Condicionado de sua casa</label>
                    <input type="checkbox" id="checkArPequeno" onclick="toggleArPequeno()">Pequeno
                    <input type="checkbox" id="checkArMedio" onclick="toggleArMedio()">Médio
                    <input type="checkbox" id="checkArGrande" onclick="toggleArGrand()">Grande
                </label>
                    <label for="arP" id="txarP">Ar condicionado (pequeno)</label>
                    <input type="number" id="arP" name="arP" 
                       placeholder="Informe o uso por dia (Horas)">
                    <input type="number" id="qtarP" name="qtarP" 
                       placeholder="Informe a quantidade de Ar Condicionado">

                    <label for="arM" id="txarM" class='arCondicionado'>Ar condicionado (médio)</label>
                    <input type="number" id="arM" name="arM" 
                       placeholder="Informe o uso por dia (Horas)">
                    <input type="number" id="qtarM" name="qtarM" 
                       placeholder="Informe a quantidade de Ar Condicionado">

                    <label for="arG" id="txarG" class='arCondicionado'>Ar condicionado (grande)</label>
                    <input type="number" id="arG" name="arG" 
                       placeholder="Informe o uso por dia (Horas)">
                    <input type="number" id="qtarg" name="qtarG" 
                       placeholder="Informe a quantidade de Ar Condicionado">
            </div>
            <div id="residuos" class="residuos">
                <h3>Resíduos</h3>
                <label>
                    <label type="text" id="ckeckComb" class="comb">Seleciona os tipos resíduos</label>
                    <input type="checkbox" id="checkSolidos" onclick="toggleSolidos()">Solídos
                    <input type="checkbox" id="checkOrganicos" onclick="toggleOrganicos()">Organicos
                    <input type="checkbox" id="checkEletronicos" onclick="toggleEletronicos()">Eletronicos
                </label>
                <label for="txRsSolidos" id="txRsSolidos">Resíduos solídos</label>
                <input type="number" id="RsSolidos" name="RsSolidos" 
                       placeholder="informe a quantidade de resíduos (kg/dia)">

                <label for="txRsOrganicos" id="txRsOrganicos">Resíduos orgânicos</label>
                <input type="number" id="RsOrganicos" name="RsOrganicos" 
                       placeholder="informe a quantidade de resíduos (kg/dia)">

                <label for="txRsEletronicos" id="txRsEletronicos">Resíduos Eletrônicos</label>
                <input type="number" id="RsEletronicos" name="RsEletronicos" 
                       placeholder="informe a quantidade de resíduos (kg/dia)">
            </div>
            <div id="efluentes" class="efluentes">
                <h3>Efluentes</h3>
                <label>
                    <label type="text" id="ckeckComb" class="comb">Seleciona os tipos Efluentes</label>
                    <input type="checkbox" id="checkAgricola" onclick="toggleAgricola()">Agricola
                    <input type="checkbox" id="checkDomestico" onclick="toggleDomestico()">Organicos
                </label>
                <label for="txEfAricola" id="txEfAricola">Efluentes Agricola</label>
                <input type="number" id="EfAgricola" name="EfAgricola" 
                       placeholder="informe a quantidade de efluentes (kg/dia)">

                <label for="txEfDomestico" id="txEfDomestico">Efluentes Organicos</label>
                <input type="number" id="EfDomestico" name="EfDomestico" 
                       placeholder="informe a quantidade de efluentes (kg/dia)">
            </div>
            <div id="Reducao">
                <h2>Redução de Emissões</h2>
                <h3>Eficiência Energética</h3>
                <label for="txEquipamento" id="txEquipamento">Equipamentos Trocados</label>
                <input type="number" id="equipamento" name="equipamento"
                    placeholder="Digite a quantidade de equipamentos substituido no ano">
                <label for="txIluminacao" id="txIluminacao">Lampada Trocadas</label>
                <input type="number" id="iluminacao" name="iluminacao"
                    placeholder="Digite a quantidade de lampadas trocadas no ano">
                <h3>Fontes de Energia Renovável</h3>
                <label for="txsolar" id="txSolar">Paineis solares</label>
                <input type="number" id="Psolar" name="Psolar"
                    placeholder="Digite a potencia dos paineis solares">
                <input type="number" id="Hsolar" name="Hsolar"
                       placeholder="Digite a horas de pico dos paineis solares">
                <label for="txEolica" id="txEolica">Energia eolica</label>
                <input type="number" id="Peolica" name="Peolica"
                    placeholder="Digite a potencia da turbina">
                <input type="number" id="Ceolica" name="Ceolica"
                    placeholder="Digite a capacidade da turbina em %">
                <input type="number" id="Heolica" name="Heolica"
                       placeholder="Digite a horas por dia de Uso">
                <label for="txAqSolar">Aquecimento de água solar</label>
                <input type="number" id="Csolar" name="Csolar"
                       placeholder="Quantidade de energia utilizada para aquecer a água em KW">
                <input type="number" id="Esolar" name="Esolar"
                       placeholder="informe o percentual de eficiencia do sistema">
                <h3>Transporte Sustentável</h3>
                <label for="txCarEletrico" id="txCarEletrico">Carros Eletricos (em teste)</label>
                <input type="number" id="CarEletrico" name="CarEletrico"
                       placeholder="Nº de Carros Elétricos">
                <label for="txTpPublico" id="txTpPublico">Transporte Publicos (em teste)</label>
                <input type="number" id="TpPublico" name="TpPublico"
                       placeholder="Quantidade">
                <label for="txCaminhada" id="txCaminhada">caminhada ou ciclismos (em teste)</label>
                <input type="number" id="Caminhada" name="Caminhada"
                       placeholder="Quantidade">
                <h3>Redução de Resíduos</h3>
                <label for="txReciclagemPapel" id="txReciclagemPapel">Reciclagem de papel (em teste)</label>
                <input type="number" id="ReciclagemPapel" name="Reciclagem"
                       placeholder="Nº de Toneladas de Papel Recicladas">
                <label for="txComp" id="txComp">Compostagem (em teste)</label>
                <input type="number" id="Comp" name="Comp"
                       placeholder="Quantidade">
                <label for="txPlast" id="txPlast">Redução de plastico (em teste)</label>
                <input type="number" id="Plast" name="Plast"
                       placeholder="Quantidade">
                <h3>Agricultura Sustentável</h3>
                <label for="txAgricultura" id="txAgricultura">Agricultura Regenerativa (em teste)</label>
                <input type="number" id="Agricultura" name="Agricultura"
                       placeholder="Quantidade">
                <label for="txCarne" id="txCarne">Redução de carne (em teste)</label>
                <input type="number" id="Carne" name="Carne"
                       placeholder="Quantidade">
                <h3>Compensação de Carbono</h3>
                <label for="txReflorestamento" id="txReflorestamento">Reflorestamento</label>
                <input type="number" id="Reflorestamento" name="Reflorestamento"
                       placeholder="Nº de Hectares de Reflorestamento">

            </div>
                <button class="button" type="submit">Calcular</button>
        </div>
    </form>
</body>
</html>