<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Calculadora</title>
</head>
<body>
    <div class="Titulo">
        <h1>Calculadora de credito de carbono</h1>
    </div>
    <img src="{{ url_for('static', filename='/imagens/6.jpg') }}" alt="Descrição da imagem" id="imagem">
    <div class="overlay">
        <header>
            <h1>Escolha o Tipo</h1>
        </header>
        <main>
            <div class="botao-container">
                <button onclick="window.location.href='{{url_for('empresa_index') }}'" class="botao" aria-label="Ir para a seção Empresa">Empresa</button>
                <button onclick="window.location.href='{{url_for('pessoa_index') }}'" class="botao" aria-label="Ir para a seção Pessoa">Pessoa</button>
            </div>
        </main>
    </div>
</body>
</html>


